{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_newsletter form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="checkbox">
                <f:form.checkbox
                        id="femanager_field_newsletter"
                        property="newsletter"
                        value="newsletter"
                        checked="{user.newsletter}"
                        additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'newsletter')}" />
                <f:translate key="tx_femanager_domain_model_user.newsletter" extensionName="femanager_mailchimp" />
                <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'newsletter')}">
                    <span>*</span>
                </f:if>
            </label>
        </div>
    </div>
</div>
